@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,600;0,700;1,300;1,500&display=swap');

:root{
  --dark-bg: #2A2934;
  --brand-blue: #2E599A;
  --medium-blue: #3E3D4B;
  --off-white: #D7D7D7;

  --q1-good: #05F300;
  --q2-moderate: #DAEC06;
  --q3-low-unhealthy: #FF9000;
  --q4-unhealthy: #DB1A00;
  --q5-very-unhealthy: #5305A2;
  --q6-hazardous: #7E0023;

  --soft-shadow: 12px 12px 75px 0px rgba(0,0,0,0.25);
}

body {
  all: unset;
}

html {
  background-color: var(--dark-bg);
}

body {
  margin: 0;
  font-family: Jost;
}

nav {
  width: 350px;
}

div#navigation {
  background-color: var(--medium-blue);
  color: var(--off-white);
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  padding-top: 130px;
  box-shadow: var(--soft-shadow);
  display: inline-block;  
}

div.main {
  width: 100%;
  /* display: inline-flex; */
  position: absolute;
  right: 0px;   
  left: 350px;
  
  bottom: 0px;
}


nav li {
  list-style-type: none;
  font-size: 2em;
  font-weight: 600;
  margin-left: 1em;
}

nav li.featured {
  margin-top: 1.5em;
}

nav div#rooms {
  width: 100%;  
  background-color: var(--brand-blue) !important;
  height: 2em;
  font-size: 2em;
  font-weight: 600;
  margin-top: 2em;
  display: flex;
}

ul.rooms-list li {
  font-size: 1.5em;
}

#rooms span {
  margin-left: 1.5em;
  align-self: center;
}


div#app-title {
  padding: 0em 2em;
  background-color: var(--brand-blue);
  box-shadow: var(--soft-shadow);
  position: fixed;
  left: 350px;
  top: 0px;
  z-index:2;
  width: 100%;
  height: 115px;
  display: flex;
}

h1 {
  line-height: 100%;
  color: var(--off-white);
  font-family: Jost;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top:auto; 
  font-size: 3em;
  align-self: flex-end;
}



div#circles-container {
  position: fixed;
  margin: auto;
  width: fit-content;
  top: 25%;
}

div.circle {
  border: 20px solid;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display:  ;
}

div.inside {
  border-color: var(--q1-good);
  height: 200px;
  width: 200px;
  color: var(--q1-good);
}

div.outside {
  border-color: var(--q3-low-unhealthy);
  height: 160px;
  width: 160px;
  color: var(--q3-low-unhealthy)
}

.circle p {
  margin: 0;
}

div.circle p.aqi-number {
  font-size: 4em;
  font-weight: 800;
  line-height: 1em; 
}