@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,600;0,700;1,300;1,500&display=swap');

:root{
  --dark-bg: #2A2934;
  --medium-blue: #3E3D4B;
  --brand-blue: #2E599A;
  --off-white: #D7D7D7;

  --q1-good: #05F300;
  --q2-moderate: #DAEC06;
  --q3-low-unhealthy: #FF9000;
  --q4-unhealthy: #DB1A00;
  --q5-very-unhealthy: #5305A2;
  --q6-hazardous: #7E0023;

  --soft-shadow: 12px 12px 75px 0px rgba(0,0,0,0.25);
  
}

body {
  font-family: "Jost";
  background-color: var(--dark-bg);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 15% 85%;
}


nav {
  grid-column-start: 1;
  grid-row-start: 1;
}
div.main {
  grid-column-start: 2;
  grid-row-start: 2;
}
div#app-title {
  grid-column-start: 2;
  grid-row-start: 1;
}

div#navigation {
  height: 100vh;
  background-color: var(--medium-blue);
  color: var(--off-white);
  
  box-shadow: var(--soft-shadow);  
}
nav li {
  list-style-type: none;
  font-size: 2em;
  font-weight: 600;
  margin-left: 0;
}

nav li.featured {
  margin-top: 1.5em;
}

nav div#rooms {
  background-color: var(--brand-blue) !important;
  height: 2em;
  font-size: 2em;
  font-weight: 600;
  margin-top: 1em;
  display: flex;
}


ul#nav-links {
  padding-top: 130px;
  margin-top: 0;  
}


div#set-location {
  padding-left: 40px;
}
input#location-input {
  font-family: 'Jost';
  font-size: 1em;
  padding: .5em;
  border: none;
  border-radius: 5px; 
  background-color: var(--off-white);
}
input#location-submit {
  font-family: 'Jost';
  font-size: 1em;
  padding: .5em;
  width: 3em;
  background-color: var(--brand-blue);
  color: var(--off-white);
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}




ul.rooms-list li {
  font-size: 1.5em;
}

#rooms span {
  margin-left: 1.5em;
  align-self: center;
}


div#app-title {
  padding: 0em 2em;
  background-color: var(--brand-blue);
  box-shadow: var(--soft-shadow);
  display: flex;
}

h1 {
  line-height: 100%;
  color: var(--off-white);
  font-family: Jost;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top:auto; 
  font-size: 3em;
  align-self: flex-end;
}

h2 {
  margin: 0;
}


div.main {
  bottom: 0px; 
  /* display: grid; 
  flex-direction: column;
  justify-content: center; */
  height: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10% 50% 40%;
}

div.page-title {
  text-align: right;
  font-size: 28px;
  margin: 2em;
  color: var(--off-white)
}

div.help-hover {
  display: inline-block;
  background-color: var(--brand-blue);
  border-radius: 100%;
  font-weight: bold;
  height: 2em;
  width: 2em;
  text-align: center;
  line-height: 2;
  cursor: help;
}

span.tooltip {
  font-weight: normal;
  line-height: 1.5em;
  font-size: 20px;
  visibility: hidden;
  width: 320px;
  background-color: #2E599A;
  text-align: left;
  padding: 1em;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  right: 8%;
}

div.help-hover:hover span.tooltip {
  visibility: visible;

}

div#circles-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 100%;
  width: fit-content;
  height: fit-content;
  position: relative;
  top:10%;
}

div.circle {
  box-shadow: var(--soft-shadow);
  border: 20px solid;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.circle.inside {
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: 2; 
  border-color: var(--q2-moderate);
  height: 200px;
  width: 200px;
  color: var(--q2-moderate);
  background-color: var(--dark-bg);
}

div.circle.outside {
  grid-column-start: 2;
  grid-column-end: 3;
  border-color: var(--q5-very-unhealthy);
  color: var(--q5-very-unhealthy);
  background-color: var(--dark-bg);
  height: 170px;
  width: 170px;
  position: relative;
  top: 45px;
  right: 30px;
}

div.circle p {
  margin: 0;
}

div.circle p.aqi-number {
  font-size: 4em;
  font-weight: 800;
  line-height: 1em; 
}


div#aqi-info-card-container {
  color: var(--off-white);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2em;
}

div.aqi-info-card.first{
  grid-column: 1 2;
}
div.aqi-info-card.second{
  grid-column: 2 3;
}

div.aqi-info-card {
  background-color: var(--medium-blue);
  box-shadow: var(--soft-shadow);
  border-radius: 15px 15px 0px 0px;
}
div.aqi-info-card div.info-text {
  margin: 2em;
}

.info-text-intro p{
  margin:0;
}