@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,600;0,700;1,300;1,500&display=swap');

:root{
  --dark-bg: #2A2934;
  --medium-blue: #3E3D4B;
  --brand-blue: #2E599A;
  --off-white: #D7D7D7;

  --q1-good: #05F300;
  --q2-moderate: #DAEC06;
  --q3-low-unhealthy: #FF9000;
  --q4-unhealthy: #DB1A00;
  --q5-very-unhealthy: #5305A2;
  --q6-hazardous: #7E0023;

  --soft-shadow: 12px 12px 75px 0px rgba(0,0,0,0.25);
  
}

body {
  font-family: "Jost";
  background-color: var(--dark-bg);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 15% 85%;
}


nav {
  grid-column-start: 1;
  grid-row-start: 1;
}
div.main {
  grid-column-start: 2;
  grid-row-start: 2;
}
div#app-title {
  grid-column-start: 2;
  grid-row-start: 1;
}

div#navigation {
  height: 100vh;
  background-color: var(--medium-blue);
  color: var(--off-white);
  
  box-shadow: var(--soft-shadow);  
}
nav li {
  list-style-type: none;
  font-size: 2em;
  font-weight: 600;
  margin-left: 1em;
}

nav li.featured {
  margin-top: 1.5em;
}

nav div#rooms {
  background-color: var(--brand-blue) !important;
  height: 2em;
  font-size: 2em;
  font-weight: 600;
  margin-top: 2em;
  display: flex;
}


ul#nav-links {
  padding-top: 130px;
  margin-top: 0;  
}

ul.rooms-list li {
  font-size: 1.5em;
}

#rooms span {
  margin-left: 1.5em;
  align-self: center;
}


div#app-title {
  padding: 0em 2em;
  background-color: var(--brand-blue);
  box-shadow: var(--soft-shadow);
  display: flex;
}

h1 {
  line-height: 100%;
  color: var(--off-white);
  font-family: Jost;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top:auto; 
  font-size: 3em;
  align-self: flex-end;
}


div.main {
  bottom: 0px; 
  display: flex; 
  justify-content: center;
}

div#circles-container {
  display: grid;
  /* grid-template-columns: ; */
  grid-template-rows: 100%;
  width: fit-content;
  height: fit-content;
  position: relative;
  top:15%;
}

div.circle {
  border: 20px solid;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.circle.inside {
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: 2; 
  border-color: var(--q1-good);
  height: 200px;
  width: 200px;
  color: var(--q1-good);
  background-color: var(--dark-bg);
}

div.circle.outside {
  grid-column-start: 2;
  grid-column-end: 3;
  border-color: var(--q3-low-unhealthy);
  height: 160px;
  width: 160px;
  color: var(--q3-low-unhealthy);
  position: relative;
  top: 55px;
  right: 30px;
}

.circle p {
  margin: 0;
}

div.circle p.aqi-number {
  font-size: 4em;
  font-weight: 800;
  line-height: 1em; 
}