<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href='/static/css/styles.css'>
  
</head>
<body onload="aqiColors()">


  <div id="app-title">
    <h1>AtmosPür</h1>
  </div>


  <nav>
    <div id="navigation">
      <ul id="nav-links">
        <li><a href="/">Current Stats</a></li>
        <li>Forecast</li>
        <li>Health</li>
        <li class="featured"><a href="/PurProgress">PürProgress</a></li>
      </ul>

      <div id="set-location">
        <button id="update-location-button" onclick="showLocUpdate()"><label for="location-input">Set location</label></button><br>
        <div>
          <form id="location-update" action="{{ url_for('location_search') }}" method="post">
              <input type="text" placeholder="{{location_search}}" value="{{location_search}}" name="locationInput" id="location-input">
              <input type="submit" id="location-submit" value="Set" onclick="return locationWarn()">
              <button id="cancel-location-update" onclick="hideLocUpdate()">Cancel</button> 
          </form>
        </div>
      </div>

      <div id="rooms">
        <span>Rooms</span>
      </div>

      <ul class="rooms-list">
        <li>Living Room</li>
        <li>Kitchen</li>
        <li>Master Bed</li>
        <li>Kids' Room</li>
        <li>Basement</li>
      </ul>
    </div>
  </nav>





  {% block content %}  
  {% endblock %}
  


</body>
<script src="./static/js/colorscale.js"></script>
<script src="./static/js/interactive.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>

</html>