{% extends "base.html" %}

{% block content %}

<div class="main">

  <div id="circles-container">
    <div class="circle inside">
      <p class="aqi-number">{{inside_aqi}}</p>
      <p class="aqi-room">LIVING ROOM</p>
    </div>

    <div class="circle outside">
      <p class="aqi-number">{{outside_aqi}}</p>
      <p class="aqi-room">{{location_name | upper}}</p>
    </div>
  </div>


  <div id="aqi-info-card-container">
    <div class="aqi-info-card first">
      <div class="info-text">
        <div class="info-text-intro">
          <h2>Moderate</h2>
          <p>51 - 100</p>
          <p>Generally Acceptable</p>
        </div>
        <p>Moderate health concerns for a small number of people who are unusually sensitive to pollutants.</p>
      </div>
    </div>
    <div class="aqi-info-card second">
      <div class="info-text">
        <div class="info-text-intro">
          <h2>Very Unhealthy</h2>
          <p>201 - 300</p>
          <p>Generally Acceptable</p>
        </div>
        <p>Health alert: The risk of health effects is increased for everyone.</p>
      </div>
    </div>
  
  </div>




</div>


{% endblock %}