{% extends "base.html" %}

{% block content %}

<div class="main">

  <div class="page-title">
    <h2>Current Stats</h2>
    <div class="help-hover">?
    <span class="tooltip title-help">
      View the current AQI in your selected room, and compare it to the air quality outside.<br>
      The outside air quality is selected by choosing your location on the left.<br>
      This index is a public service provided by your municipality and EPA.</span>
      </div>
  </div>
  

  <div id="circles-container">
    <div id="inside-circle" class="circle inside">
      <p id="inside-aqi-number" class="aqi-number">{{inside_aqi}}</p>
      <p id="inside-aqi-location" class="aqi-room">LIVING ROOM</p>
    </div>

    <div id="outside-circle" class="circle outside">
      <p id="outside-aqi-number" class="aqi-number">{{outside_aqi}}</p>
      <p id="outside-aqi-location" class="aqi-room">{{location_name | upper}}</p>
    </div>
  </div>




  <div id="aqi-info-card-container">
    <div class="aqi-info-card first">
      <div class="info-text">
        <div class="info-text-intro">
          <h2>Moderate</h2>
          <p>51 - 100</p>
          <p>Generally Acceptable</p>
        </div>
        <p>Moderate health concerns for a small number of people who are unusually sensitive to pollutants.</p>
      </div>
    </div>
    <div class="aqi-info-card second">
      <div class="info-text">
        <div class="info-text-intro">
          <h2>Very Unhealthy</h2>
          <p>201 - 300</p>
          <p>Generally Acceptable</p>
        </div>
        <p>Health alert: The risk of health effects is increased for everyone.</p>
      </div>
    </div>
  
  </div>
</div>


{% endblock %}