{% extends "base.html" %}

{% block content %}
<div class="main-graph">

<script src="{{ graph.cdn_js | safe }}"></script>
{{ graph.script | safe }}
 <link rel="stylesheet" href='../static/css/graph-styles.css'>

  <div class="page-title">
    <h2>{{page_title}}</h2>
    <div class="help-hover">?
      <span class="tooltip title-help">
      Review historic AQI data for easy comparisons in rates of change. How closely does your home's air mirror changes outside? How big of a difference does a new MERV-13 air filter make?<br>
      Use the tools on the righthand side of the graph to target specific dates or times.<br> Switch between viewing today's details and daily averages with the buttons below.<br> Long-term use of AtmosPür will continue to give you better insights over time.  
      </span>
    </div>
  </div>
  

  <div class="graph">
    {{ graph.div | safe }}
    <div id="graph-range-select">
      <div>
        <a href="/PurProgress?graph-type=averages"><button class="graph-type">Daily Averages</button></a>
        <a href="/PurProgress?graph-type=today"><button class="graph-type">Today's Details</button></a>
      </div>
    </div>
  </div>
 


{% endblock %}